* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #2d2d2d;
  --third-color: #f4f4f4;
  --fourth-color: rgba(0, 0, 0, 0.2);
}

.dark-mode {
  --secondary-color: #fff;
  --primary-color: #050505;
  --third-color: #1f1f1f;
  --fourth-color: rgba(164, 69, 237, 1);
}
body {
  background: var(--primary-color);
}

main {
  max-width: 1440px;
  height: 1205px;
  margin: 0 auto;
}

.all-container {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  width: 51.18%;
  height: 2.57%;
  margin: 61px auto;
  padding: 0px;
}

.logo-container img {
  max-width: 100%;
}

.mode-types-container {
  display: flex;
  align-items: center;
}

.dark-mode-container {
  display: flex;
  justify-content: space-between;
  max-width: 80px;
  height: 20px;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  padding-left: 26px;
}

.font-container {
  padding-right: 16px;
  border-right: 1px solid #e9e9e9;
}

#dropdown-btn {
  display: flex;
  gap: 10px;
  width: 120px;
  height: 24px;
  padding: 0;
  text-align: left;
  background: transparent;
  border: none;
  color: var(--secondary-color);
  font-weight: bold;
}

#dropdown-btn::after {
  content: url("./assets/images/icon-arrow-down.svg");
  width: 12px;
  height: 6px;
}

.dropdown-menu.show {
  background-color: var(--primary-color);
  width: 183px;
  height: 152px;
  flex-shrink: 0;
  margin-top: 11px;
  margin-left: -72px;
  padding: 0;
  border: none;
  box-shadow: 0 5px 30px 0px var(--fourth-color);
}

.dropdown-menu {
  width: 90px;
  height: 104px;
}

.dropdown-item {
  width: 90px;
  height: 24px;
  margin: 24px 69px 16px 24px;
  padding: 0;
  color: var(--secondary-color);
}

.dropdown-menu a:hover {
  color: var(--A445ED, #a445ed);
  background-color: transparent;
}

.form-switch .form-check-input:not(:checked) {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-color: #757575;
  border: none;
}

.form-switch .form-check-input:checked {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-color: #a445ed;
  border: none;
}

.form-switch .form-check-input:focus {
  box-shadow: none;
}

/* Search bar section */

.search-bar {
  display: flex;
  align-items: center;
  width: 51.18%;
  height: 64px;
  margin: 0 auto;
  margin-top: 51.1px;
  background-color: var(--third-color);
  border-radius: 16px;
}

.search-bar input {
  color: var(--secondary-color);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: none;
  padding: 20px 0 20px 24px;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--third-color);
  outline: none;
}

.search-bar {
  border-width: 1px;
  opacity: 0.5;
}

.search-bar input::placeholder {
  font-weight: normal;
  color: var(--secondary-color);
}

.search-bar button {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border: none;
  background: transparent;
}

.display-error {
  width: 51.18%;
  height: 24px;
  margin: 8px auto;
  color: #ff5252;
}

.display-error p {
  display: none;
}

/* Searched word Heading sections */

.searched-word-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 51.18%;
  margin: 45px auto;
}

.searched-word {
  display: flex;

  flex-direction: column;
  font-size: 24px;
}

.searched-word h1 {
  font-size: 64px;
  font-weight: 700;
  color: var(--secondary-color);
}

.searched-word p {
  margin: 0;
  color: #a445ed;
}

.play-btn {
  border: none;
  background: transparent;
}

.word-type {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 51.18%;
  margin: 0 auto;
  color: var(--secondary-color);
}

.word-type p {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 auto;
}
/* Searched word style ends here  */

/* meaing of the word style starts here  */

.meaning-container {
  width: 51.18%;
  margin: 40px auto;
}

.meaning-container ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 22px;
  margin-top: 25px;
  color: var(--secondary-color);
}

.meaning-container h4 {
  padding: 0;
  margin: 0;
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}
.meaning-container li::marker{
  color: #a445ed;
}


.meaning-container q {
  color: #757575;
}

.synonyms-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

.synonym-list {
  font-size: 20px;
  font-weight: 700;
  color: #a445ed;
}

.synonym-list{
  color: #a445ed;
}

.synonym-list:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.9px;
  text-underline-position: under;
}

.source-container {
  display: flex;
  align-items: baseline;
  width: 51.18%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.source-container a {
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  color: var(--secondary-color);
}

.source-container img {
  margin-left: 9px;
  width: 12px;
  height: 12px;
}

.source-container p {
  display: flex;
  align-items: center;
  color: #757575;
}

.no-definition {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 51.18%;
  margin: 132px auto;
  color:#757575;
  text-align: center;
  font-size: 19px;
}

.no-definition img {
  width: 64px;
  height: 64px; 
}

.no-definition h2{
  font-weight: 700;
  color: var(--secondary-color);
}

/* Media query for Tablets */

@media screen and (max-width: 800px) {
  main {
    max-width: 700px;
    padding: 2rem;
  }

  .navbar {
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .searched-word-container {
    width: 100%;
  }

  .word-type {
    width: 100%;
  }

  .meaning-container {
    width: 100%;
  }

  .source-container {
    width: 100%;
  }

  .display-error {
    width: 100%;
  }
  
  .no-definition {
    width: 100%;
  }
}

/* Media query for Mobile */

@media screen and (max-width: 500px) {
  main {
    max-width: 375px;
    padding: 1.5rem;
  }

  .searched-word h1 {
    font-size: 32px;
  }


  .navbar {
    margin: 24px auto;
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .searched-word-container {
    width: 100%;
  }

  .word-type {
    width: 100%;
  }

  .meaning-container {
    width: 100%;
  }

  .source-container {
    width: 100%;
  }
  .source-container p{
    font-size: 12px;
  }

  .display-error {
    width: 100%;
  }
  .no-definition {
    width: 100%;
  }

}

